.navbar-toggler {
  background-color: #f76b8a !important;
}

.navbar {
  background: #054e4e;
}
.navbar a {
  color: #ebf6f6;
  font-weight: bold;
  font-family: "PT Mono", monospace;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.navbar a:hover {
  color: #f76b8a;
}
